<div class="container">
  <div class="space-bottom">
    <ul class="nav">
      <li class="nav-item nav-cursor">
        <a class="nav-link active" (click)="showGridView = true;">Grid View</a>
      </li>
      <li class="nav-item nav-cursor">
        <a class="nav-link" (click)="showGridView = false;">Table View</a>
      </li>
    </ul>
  </div>
  <div class="elements space-bottom">
    <div class="input-box search-container">
      <input class="form-control" type="search" placeholder="Search..." [(ngModel)]="searchText"/>
      <button class="btn btn-primary" (click)="searchData()">Search</button>
    </div>
    <div>
      <select class="form-select" [(ngModel)]="sortBy" (ngModelChange)="sortData()">
        <option selected value="">Sort By</option>
        <option>name</option>
        <option>date last edited</option>
      </select>
    </div>
  </div>
  <div class="card-row space-bottom" *ngIf="showGridView && searchedData.length > 0">
    <div class="row">
      <div class="card card-element col-lg-4 col-md-6" *ngFor="let item of searchedData | slice:startIndex:endIndex">
        <img class="card-img-top" src="item?.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item?.name}}</h5>
          <p class="card-text">{{item?.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="space-bottom" *ngIf="!showGridView && searchedData.length > 0">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Desciption</th>
          <th scope="col">Edited Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of searchedData | slice:startIndex:endIndex">
          <td>{{item?.name}}</td>
          <td>{{item?.description}}</td>
          <td>{{item?.dateLastEdited}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="searchedData.length === 0">No Data Found</div>
  <div class="page-numbers space-bottom" *ngIf="totalPages > 0">
    <span id="left" (click)="left()" class="arrow left mr-1 nav-cursor"></span>
    <span>Page {{page}} of {{totalPages}}</span>
    <span id="right" (click)="right()" class="arrow right nav-cursor"></span>
  </div>
</div>